body {
	background-color: #1D1D1D;
}

.whole-thing{
	margin-left: 7.5%;
	margin-right: 15%;
	margin-top: 5%;
}

.menu-buttons li{
	display: inline-block;
	margin-right: 1%;
	margin-left: 1%;
	padding: 1.5%;
	color: #D6DBDB;
	font-size: 25px;
	font-family: 'Josefin Sans', sans-serif;
	text-decoration: none;
  	position: relative;
}

.menu-buttons {
	padding: 0;
}

.menu-buttons li:first-child{
	margin-left: 0;
	padding-left: 0;
}

.menu-buttons >li>a {
	color: #D6DBDB;
	font-family: 'Josefin Sans', sans-serif;
	text-decoration: none;
}

.button-click a{
	color: #94C535 !important;
}

.name {
	position: relative;
	font-family: 'Alex Brush', cursive;
	font-size: 70px;
	color: #D6DBDB;
}

.who-i-am {
	color: #D6DBDB;
	font-family: 'Josefin Sans', sans-serif;
	display: none;
}

.why-i-am-here {
	color: #D6DBDB;
	font-family: 'Josefin Sans', sans-serif;
	display: none;
}

.what-i-do {
	color: #D6DBDB;
	font-family: 'Josefin Sans', sans-serif;
	display: none;
}

.how-to-contact-me {
	color: #D6DBDB;
	font-family: 'Josefin Sans', sans-serif;
	display: none;
}

.how-to-contact-me a{
	color: #D6DBDB;
	font-family: 'Josefin Sans', sans-serif;
}

footer {
	padding-top: 40%;
	color: #D6DBDB; 
	font-family: 'Josefin Sans', sans-serif; 
	text-decoration: none; 
	position: relative;
}

.green-accent-words {
	display: inline-block; 
	color: #94C535; 
	font-family: 'Josefin Sans', sans-serif; 
	text-decoration: none; 
	position: relative;
}

.blue-accent-words {
	display: inline-block; 
	color: #57A0CA; 
	font-family: 'Josefin Sans', sans-serif; 
	text-decoration: none; 
	position: relative;
}

.orange-accent-words {
	color: #FF8200;
}

.inline{
	display: inline-block;
}

.inline-left{
	margin-right: 70px;
}